In [13]:
import pandas as pd
import pyodbc

In [14]:
# BRONZE: Contém o arquivo disponibilizado

In [15]:

# Para acessar o arquivo Vendas.csv na pasta BRONZE, precisei duplicar o arquivo original.
# A duplicação do arquivo se fez necessária para garantir que possamos acessá-lo de acordo com a estrutura original e as permissões de segurança, mantendo a integridade dos dados baixados.

# Para fazer essa operação, usei a biblioteca shutil para copiar o arquivo e o DataFrame Pandas para ler o arquivo copiado.
import shutil

# Caminho do arquivo de origem
caminho_origem = r'C:\Users\ferna\Downloads\194883\Vendas.csv'

# Caminho da pasta de destino + nome do arquivo de origem
caminho_destino = r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\BRONZE\Vendas.csv'

# Duplicar (copiar) o arquivo para o destino
# Utilizei o shutil.copy() em vez de shutil.move() para justamente manter a integridade dos dados baixados.
shutil.copy(caminho_origem, caminho_destino)

# Lendo o arquivo copiado em um DataFrame Pandas
df = pd.read_csv(caminho_destino)

# Exibindo o DataFrame
print("Arquivo duplicado com sucesso para:", caminho_destino)

Arquivo duplicado com sucesso para: C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\BRONZE\Vendas.csv

In [16]:
# Lendo o arquivo .CSV 
df_original = pd.read_csv(r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\BRONZE\Vendas.csv')

# Exibir o DataFrame resultante
print(df_original)

        IDProduto                     Data  IDCliente  IDCampanha  Unidades  \
0             449  2012-07-26 00:00:00.000     247546          22         1
1             449  2013-10-31 00:00:00.000     124593          22         1
2             449  2013-11-14 00:00:00.000     163517          22         1
3             449  2013-01-17 00:00:00.000       8875          18         1
4             449  2014-09-13 00:00:00.000       8894          21         1
...           ...                      ...        ...         ...       ...
675363        407  2012-05-20 00:00:00.000      32464           3         1
675364        407  2011-03-02 00:00:00.000      32441           5         1
675365        407  2012-06-02 00:00:00.000     101533           1         1
675366        407  2011-04-10 00:00:00.000     147192           4         1
675367        407  2012-03-01 00:00:00.000     237766           3         1

              Produto  Categoria    Segmento  IDFabricante Fabricante  \
0       Maximus UM-54      Urban  Moderation             7  VanArsdel
1       Maximus UM-54      Urban  Moderation             7  VanArsdel
2       Maximus UM-54      Urban  Moderation             7  VanArsdel
3       Maximus UM-54      Urban  Moderation             7  VanArsdel
4       Maximus UM-54      Urban  Moderation             7  VanArsdel
...               ...        ...         ...           ...        ...
675363  Maximus UM-12  Accessory   Accessory             7  VanArsdel
675364  Maximus UM-12  Accessory   Accessory             7  VanArsdel
675365  Maximus UM-12  Accessory   Accessory             7  VanArsdel
675366  Maximus UM-12  Accessory   Accessory             7  VanArsdel
675367  Maximus UM-12  Accessory   Accessory             7  VanArsdel

        CustoUnitario  PrecoUnitario  CodigoPostal  \
0           74.729917      102.36975         33194
1           74.729917      102.36975         33177
2           74.729917      102.36975         33172
3           74.729917      102.36975         33169
4           74.729917      102.36975         33169
...               ...            ...           ...
675363     116.887417      160.11975         32404
675364     116.887417      160.11975         32404
675365     116.887417      160.11975         32514
675366     116.887417      160.11975         32407
675367     116.887417      160.11975         32438

                                                EmailNome  \
0                    (Nerea.Barry@xyza.com): Barry, Nerea
1              (Elliott.Stuart@xyza.com): Stuart, Elliott
2              (Holmes.Swanson@xyza.com): Swanson, Holmes
3                    (Nyssa.Solis@xyza.com): Solis, Nyssa
4                      (Ivana.Wall@xyza.com): Wall, Ivana
...                                                   ...
675363  (Catherine.Martinez@xyza.com): Martinez, Cathe...
675364             (Dora.Emerson@xyza.com): Emerson, Dora
675365                 (Lynn.Jones@xyza.com): Jones, Lynn
675366         (Maite.Cantrell@xyza.com): Cantrell, Maite
675367           (Yolanda.Byers@xyza.com): Byers, Yolanda

                            Cidade Estado Regiao      Distrito Pais
0                   Miami, FL, USA     FL   East  District #10  USA
1                   Miami, FL, USA     FL   East  District #10  USA
2                   Miami, FL, USA     FL   East  District #10  USA
3                   Miami, FL, USA     FL   East  District #10  USA
4                   Miami, FL, USA     FL   East  District #10  USA
...                            ...    ...    ...           ...  ...
675363        Panama City, FL, USA     FL   East  District #09  USA
675364        Panama City, FL, USA     FL   East  District #09  USA
675365          Pensacola, FL, USA     FL   East  District #09  USA
675366  Panama City Beach, FL, USA     FL   East  District #09  USA
675367           Fountain, FL, USA     FL   East  District #09  USA

[675368 rows x 19 columns]

In [17]:
# Lendo o arquivo .CSV com a codificação "utf-8" e usando "," como separador
# Parâmetro (encoding="utf-8"), para ler arquivo que contém caracteres especiais.
# Parâmetro (sep= ","), separador utilizado para delimitar os valores dentro do arquivo CSV.
df_original = pd.read_csv(r"C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\BRONZE\Vendas.csv", encoding="utf-8", sep=",")

# Exibir o DataFrame resultante
print(df_original.head(2))

   IDProduto                     Data  IDCliente  IDCampanha  Unidades  \
0        449  2012-07-26 00:00:00.000     247546          22         1
1        449  2013-10-31 00:00:00.000     124593          22         1

         Produto Categoria    Segmento  IDFabricante Fabricante  \
0  Maximus UM-54     Urban  Moderation             7  VanArsdel
1  Maximus UM-54     Urban  Moderation             7  VanArsdel

   CustoUnitario  PrecoUnitario  CodigoPostal  \
0      74.729917      102.36975         33194
1      74.729917      102.36975         33177

                                    EmailNome          Cidade Estado Regiao  \
0        (Nerea.Barry@xyza.com): Barry, Nerea  Miami, FL, USA     FL   East
1  (Elliott.Stuart@xyza.com): Stuart, Elliott  Miami, FL, USA     FL   East

       Distrito Pais
0  District #10  USA
1  District #10  USA

In [18]:
# SILVER: Transformações de Dados

# Tratar a coluna nome, separando e-mail de nome
# Tratar a coluna cidade, mantendo apenas o nome da cidade.
# Eliminar as colunas IDCampanha, distrito e código posta

In [19]:
# TRATAMENTO DA COLUNA NOME, SEPARANDO E-MAIL DE NOME:


# Carregar o arquivo CSV
df_original = pd.read_csv(r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\BRONZE\Vendas.csv')

# Usando o método str.split() da biblioteca Pandas, dividir o valor da coluna 'EmailNome' em duas colunas 'EmailNome' 
# com base no delimitador ':' para separar o e-mail do nome
# A operação para clasificação da ordem das colunas 'Email' = [0] e 'Nome'= [1]
# Usar .str.replace para substituir a vírgula por uma string vazia do nome
# Usar .str.strip() para remover espaços em branco extras do nome

# Separe o e-mail e o nome da coluna 'EmailNome' e atribua-os ao DataFrame original
df_original['Email'] = df_original['EmailNome'].str.split(':', expand=True)[0]
df_original['Nome'] = df_original['EmailNome'].str.split(':', expand=True)[1].str.replace(',', '').str.strip()

# Exibir o DataFrame resultante
print(df_original.head(2))

# Salvar o DataFrame modificado de volta no mesmo arquivo CSV
df_original.to_csv(r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\BRONZE\Vendas.csv', index=False) 

# Salvar o DataFrame modificado no formato Parquet
df_original.to_parquet(r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\SILVER\Colunas_Nome_Transformada.parquet', index=False)

   IDProduto                     Data  IDCliente  IDCampanha  Unidades  \
0        449  2012-07-26 00:00:00.000     247546          22         1
1        449  2013-10-31 00:00:00.000     124593          22         1

         Produto Categoria    Segmento  IDFabricante Fabricante  ...  \
0  Maximus UM-54     Urban  Moderation             7  VanArsdel  ...
1  Maximus UM-54     Urban  Moderation             7  VanArsdel  ...

   PrecoUnitario  CodigoPostal                                   EmailNome  \
0      102.36975         33194        (Nerea.Barry@xyza.com): Barry, Nerea
1      102.36975         33177  (Elliott.Stuart@xyza.com): Stuart, Elliott

           Cidade Estado Regiao      Distrito Pais                      Email  \
0  Miami, FL, USA     FL   East  District #10  USA     (Nerea.Barry@xyza.com)
1  Miami, FL, USA     FL   East  District #10  USA  (Elliott.Stuart@xyza.com)

             Nome
0     Barry Nerea
1  Stuart Elliott

[2 rows x 21 columns]

In [20]:
# TRATAMENTO DA COLUNA NOME, SEPARANDO E-MAIL DE NOME:

# OBS: Só com esse metodo não salvada na Base de dados.


# Defina os dados
# dados = {'EmailNome': ['Nerea.Barry@xyza.com: Barry, Nerea','Elliott.Stuart@xyza.com: Stuart, Elliott','Holmes.Swanson@xyza.com: Swanson, Holmes']}

# Crie o DataFrame df_original com os dados fornecidos
# df_original  = pd.DataFrame(dados)


# Usando o método str.split() da biblioteca Pandas, dividi o valor da coluna 'EmailNome' em duas colunas 'EmailNome' 
# com base no delimitador ':' para separar o e-mail do nome
# A operação para clasificação da ordem das colunas 'Email' = [0] e 'Nome'= [1]
# Usei .str.replace para substituir a vírgula por uma string vazia do nome
# Usei .str.strip() para remover espaços em branco extras do nome

# Separe o e-mail e o nome da coluna 'EmailNome' e atribua-os ao DataFrame original
# df_original['Email'] = df_original['EmailNome'].str.split(':', expand=True)[0]
# df_original['Nome'] = df_original['EmailNome'].str.split(':', expand=True)[1].str.replace(',', '').str.strip()

# Exibindo o DataFrame resultante
# print(df_original)

In [21]:
# TRATAR A COLUNA CIDADE, MANTENDO APENAS O NOME DA CIDADE


# Carregar o arquivo CSV
df_original = pd.read_csv(r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\BRONZE\Vendas.csv')

# Dividir a coluna 'Cidade' para manter apenas o nome da cidade
# O método split() divide uma string em uma lista de substrings com base no separador especificado, neste caso, a vírgula.
# Este processo é realizado dividindo cada valor da coluna 'Cidade' usando a vírgula como ponto de divisão.
# Em seguida, selecionei apenas a primeira parte de cada valor, que corresponde ao nome da cidade, representada por str[0].
df_original['Cidade'] = df_original['Cidade'].str.split(',').str[0]

# Exiba o DataFrame resultante 
print(df_original.head())

# Salvar o DataFrame modificado de volta no mesmo arquivo CSV
df_original.to_csv(r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\BRONZE\Vendas.csv', index=False) 

# Salvar o DataFrame modificado no formato Parquet
df_original.to_parquet(r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\SILVER\Colunas_Cidade_Transformada.parquet', index=False)

   IDProduto                     Data  IDCliente  IDCampanha  Unidades  \
0        449  2012-07-26 00:00:00.000     247546          22         1
1        449  2013-10-31 00:00:00.000     124593          22         1
2        449  2013-11-14 00:00:00.000     163517          22         1
3        449  2013-01-17 00:00:00.000       8875          18         1
4        449  2014-09-13 00:00:00.000       8894          21         1

         Produto Categoria    Segmento  IDFabricante Fabricante  ...  \
0  Maximus UM-54     Urban  Moderation             7  VanArsdel  ...
1  Maximus UM-54     Urban  Moderation             7  VanArsdel  ...
2  Maximus UM-54     Urban  Moderation             7  VanArsdel  ...
3  Maximus UM-54     Urban  Moderation             7  VanArsdel  ...
4  Maximus UM-54     Urban  Moderation             7  VanArsdel  ...

   PrecoUnitario  CodigoPostal                                   EmailNome  \
0      102.36975         33194        (Nerea.Barry@xyza.com): Barry, Nerea
1      102.36975         33177  (Elliott.Stuart@xyza.com): Stuart, Elliott
2      102.36975         33172  (Holmes.Swanson@xyza.com): Swanson, Holmes
3      102.36975         33169        (Nyssa.Solis@xyza.com): Solis, Nyssa
4      102.36975         33169          (Ivana.Wall@xyza.com): Wall, Ivana

  Cidade Estado Regiao      Distrito Pais                      Email  \
0  Miami     FL   East  District #10  USA     (Nerea.Barry@xyza.com)
1  Miami     FL   East  District #10  USA  (Elliott.Stuart@xyza.com)
2  Miami     FL   East  District #10  USA  (Holmes.Swanson@xyza.com)
3  Miami     FL   East  District #10  USA     (Nyssa.Solis@xyza.com)
4  Miami     FL   East  District #10  USA      (Ivana.Wall@xyza.com)

             Nome
0     Barry Nerea
1  Stuart Elliott
2  Swanson Holmes
3     Solis Nyssa
4      Wall Ivana

[5 rows x 21 columns]

In [22]:
# ELIMINAR AS COLUNAS IDCAMPANHA, DISTRITO E CÓDIGO POSTAL


# Carregar o arquivo CSV
df_original = pd.read_csv(r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\BRONZE\Vendas.csv')

# Definir as colunas a serem eliminadas
columns_to_drop = ['IDCampanha', 'Distrito', 'CodigoPostal']

# Verificar se as colunas já foram removidas anteriormente
columns_already_dropped = [column for column in columns_to_drop if column not in df_original.columns]

# Se não,
if columns_already_dropped:
    for column in columns_already_dropped:
        print(f"As colunas '{columns_to_drop}' foram removidas com sucesso!")
        print(df_original.head(2))  # Exibir as primeiras linhas do DataFrame original
else:
    # Eliminando as colunas IDCampanha, Distrito e CodigoPostal, se estiverem presentes
    df_original = df_original.drop(columns_to_drop, axis=1)
    # Removendo as colunas especificadas do DataFrame. 
    # axis=1 significa que estamos removendo colunas (em oposição a linhas)

# Exiba o DataFrame resultante 
# print(df_original.head())

# Salvar o DataFrame modificado de volta no mesmo arquivo CSV
df_original.to_csv(r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\BRONZE\Vendas.csv', index=False) 

# Salvar o DataFrame modificado no formato Parquet
df_original.to_parquet(r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\SILVER\Colunas_Eliminadas_IDCampanha_Distrito_CodigoPostal.parquet', index=False)

In [23]:
# GOLD: Contém os arquivos prontos para uso em formato parquet

# Adicionar as SK´s as tabelas dimensões - OK
# Aplicar SCD1 nas dimensões;
# Adicionar as SK´s tabela fato - 
# Particionar os arquivos Parquet da tabela fato em ano e mês

In [24]:
# DIMENSÃO PRODUTO


# Primeiro, criei um DataFrame chamado df_original_Produto a partir do DataFrame original, selecionando apenas a coluna "Produto".
# Em seguida, apliquei método .drop_duplicates() do Pandase o pârametro (subset=), para remover as linhas duplicadas com base na coluna "Produto".
# Essa operação será atribuida ao DataFrame criado

# Supondo que df_original_Produto seja um DataFrame válido
df_original_Produto = df_original.drop_duplicates(subset= 'Produto')

# Criei um novo DataFrame chamado df_d_Produto para armazenar a dimensão Produto.
# Este novo DataFrame terá duas colunas: "sk_Produto" para a chave única do produto e "NOME_PRODUTO" para o nome do produto.

# Inicializamos df_d_Produto como um DataFrame vazio com as colunas necessárias
df_d_Produto = pd.DataFrame(columns=['sk_Produto','NOME_PRODUTO'])

# Em seguida, percorremos cada linha do DataFrame df_original_Produto para preencher o DataFrame df_d_Produto.
for index, row in df_original_Produto.iterrows():
    # Aqui 'index' representa o índice da linha atual e 'row' contém os dados da linha atual.
    # Em cada iteração do loop, 'index' e 'row' representam os dados de uma linha específica do DataFrame.

    # Aqui estamos criando uma nova linha de dados para adicionar ao DataFrame de dimensão Produto (df_d_Produto).
    # Esta linha conterá a chave única (sk_Produto) e o nome do produto (NOME_PRODUTO).
    new_row = pd.DataFrame({
        
        # A chave única do produto é atribuído automaticamente. Se já tivermos produtos registrados, o próximo ID será o maior ID atual + 1.
        # Caso contrário, se o DataFrame estiver vazio, atribuímos o ID 0.
        'sk_Produto': [df_d_Produto.index.max() + 1 if len(df_d_Produto) > 0 else 0],

        #Aqui copiamos o nome do produto da linha atual do DataFrame original para a coluna "NOME_PRODUTO" desta nova linha.
        'NOME_PRODUTO': [row['Produto']]
    })

    # Agora que temos uma nova linha de dados pronta, precisamos adicioná-la ao DataFrame de dimensão Produto (df_d_Produto).

    # Usando a função pd.concat, concatenei o novo DataFrame (new_row) ao DataFrame df_d_Produto
    # O parâmetro ignore_index=True garante que os índices sejam redefinidos após a concatenação, garantindo uma sequência contínua de índices.
    df_d_Produto = pd.concat([df_d_Produto, new_row], ignore_index=True)

# Exibe o novo DataFrame df_d_Produto
# Este DataFrame agora contém chave única para cada Produto e seus respectivos nomes
print(df_d_Produto)

    sk_Produto   NOME_PRODUTO
0            0  Maximus UM-54
1            1  Maximus UM-75
2            2  Maximus UM-01
3            3  Maximus UM-62
4            4  Maximus UM-38
..         ...            ...
168        168  Maximus RS-01
169        169  Maximus RP-01
170        170  Maximus RP-02
171        171  Maximus UM-05
172        172  Maximus UM-07

[173 rows x 2 columns]

In [25]:
# DIMENSÃO CATEGORIA


# Primeiro, criei um DataFrame chamado df_original_Categoria a partir do DataFrame original, selecionando apenas a coluna "Categoria".
# Em seguida, apliquei método .drop_duplicates() do Pandase o pârametro (subset=), para remover as linhas duplicadas com base na coluna "Produto".
# Essa operação será atribuida ao DataFrame criado

# Supondo que df_original_Produto seja um DataFrame válido
df_original_Categoria = df_original.drop_duplicates(subset='Categoria')

# Criei um novo DataFrame chamado df_d_Produto para armazenar a dimensão Produto.
# Este novo DataFrame terá duas colunas: "sk_Categoria" para a chave única do produto e "NOME_CATEGORIA" para o nome do produto.

# Inicializamos df_d_Categoria como um DataFrame vazio com as colunas necessárias
df_d_Categoria = pd.DataFrame(columns=['sk_Categoria', 'NOME_CATEGORIA'])

# Em seguida, percorremos cada linha do DataFrame df_original_Produto para preencher o DataFrame df_d_Produto.
for index, row in df_original_Categoria.iterrows():
    # Aqui 'index' representa o índice da linha atual e 'row' contém os dados da linha atual.
    # Em cada iteração do loop, 'index' e 'row' representam os dados de uma linha específica do DataFrame.

    # Aqui estamos criando uma nova linha de dados para adicionar ao DataFrame de dimensão Produto (df_d_Produto).
    # Esta linha conterá a chave única (sk_Produto) e o nome do produto (NOME_PRODUTO).
    new_row = pd.DataFrame({
        
        # A chave única do produto é atribuído automaticamente. Se já tivermos produtos registrados, o próximo ID será o maior ID atual + 1.
        # Caso contrário, se o DataFrame estiver vazio, atribuímos o ID 0.
        'sk_Categoria': [df_d_Categoria.index.max() + 1 if len(df_d_Categoria) > 0 else 0],

        #Aqui copiamos o nome do produto da linha atual do DataFrame original para a coluna "NOME_CATEGORIA" desta nova linha.
        'NOME_CATEGORIA': [row['Categoria']]
    })

    # Agora que temos uma nova linha de dados pronta, precisamos adicioná-la ao DataFrame de dimensão Produto (df_d_Categoria).

    # Usando a função pd.concat, concatenei o novo DataFrame (new_row) ao DataFrame df_d_Produto
    # O parâmetro ignore_index=True garante que os índices sejam redefinidos após a concatenação, garantindo uma sequência contínua de índices.
    df_d_Categoria = pd.concat([df_d_Categoria, new_row], ignore_index=True)

# Exibe o novo DataFrame df_d_Produto
# Este DataFrame agora contém chave única para cada Produto e seus respectivos nomes
print(df_d_Categoria)

  sk_Categoria NOME_CATEGORIA
0            0          Urban
1            1            Mix
2            2          Youth
3            3          Rural
4            4      Accessory

In [26]:
# DIMENSÃO SEGMENTO


# Primeiro, criei um DataFrame chamado df_original_Segmento a partir do DataFrame original, selecionando apenas a coluna "Segmento".
# Em seguida, apliquei método .drop_duplicates() do Pandase o pârametro (subset=), para remover as linhas duplicadas com base na coluna "Segmento".
# Essa operação será atribuida ao DataFrame criado

# Supondo que df_original_Segmento seja um DataFrame válido
df_original_Segmento = df_original.drop_duplicates(subset='Segmento')

# Criei um novo DataFrame chamado df_d_Segmento para armazenar a dimensão Segmento.
# Este novo DataFrame terá duas colunas: "sk_Segmento" para a chave única do Segmento e "NOME_SEGMENTO" para o nome de Segmento.

# Inicializamos df_d_Segmento como um DataFrame vazio com as colunas necessárias.
df_d_Segmento = pd.DataFrame(columns=['sk_Segmento','NOME_SEGMENTO'])

# Em seguida, percorremos cada linha do DataFrame df_original_Segmento para preencher o DataFrame df_d_Segmento
for index, row in df_original_Segmento.iterrows():
    # Aqui 'index' representa o índice da linha atual e 'row' contém os dados da linha atual.
    # Em cada iteração do loop, 'index' e 'row' representam os dados de uma linha específica do DataFrame.

    # Aqui estamos criando uma nova linha de dados para adicionar ao DataFrame de dimensão Segmento (df_d_Segmento).
    # Esta linha conterá a chave única (sk_Segmento) e o nome do Segmento (NOME_SEGMENTO).
    new_row = pd.DataFrame({
        
        # A chave única do Segmento é atribuído automaticamente. Se já tivermos Segmento registradas, o próximo ID será o maior ID atual + 1.
        # Caso contrário, se o DataFrame estiver vazio, atribuímos o ID 0.
        'sk_Segmento': [df_d_Segmento.index.max() + 1 if len(df_d_Segmento) > 0 else 0],

        #Aqui copiamos o nome do Segmento da linha atual do DataFrame original para a coluna "NOME_SEGMENTO" desta nova linha.
        'NOME_SEGMENTO': [row['Segmento']]
    })

    # Agora que temos uma nova linha de dados pronta, precisamos adicioná-la ao DataFrame de dimensão Segmento (df_d_Segmento).

    # Usando a função pd.concat, concatenei o novo DataFrame (new_row) ao DataFrame df_d_Segmento
    # O parâmetro ignore_index=True garante que os índices sejam redefinidos após a concatenação, garantindo uma sequência contínua de índices.
    df_d_Segmento = pd.concat([df_d_Segmento, new_row], ignore_index=True)

# Exibe o novo DataFrame df_d_Segmento
# Este DataFrame agora contém chave única para cada Segmento e seus respectivos nomes
print(df_d_Segmento)

  sk_Segmento NOME_SEGMENTO
0           0    Moderation
1           1   Convenience
2           2       Extreme
3           3       Regular
4           4    All Season
5           5  Productivity
6           6         Youth
7           7        Select
8           8     Accessory

In [27]:
# DIMENSÃO FABRICANTE


# Primeiro, criei um DataFrame chamado df_original_Fabricante a partir do DataFrame original, selecionando apenas a coluna "Fabricante".
# Em seguida, apliquei método .drop_duplicates() do Pandase o pârametro (subset=), para remover as linhas duplicadas com base na coluna "Fabricante".
# Essa operação será atribuida ao DataFrame criado

# Supondo que df_original_Fabricante seja um DataFrame válido
df_original_Fabricante = df_original.drop_duplicates(subset='Fabricante')

# Criei um novo DataFrame chamado df_d_Fabricante para armazenar a dimensão Fabricante.
# Este novo DataFrame terá duas colunas: "sk_Fabricante" para a chave única do Fabricante e "NOME_FABRICANTE" para o nome de Fabricante.

# Inicializamos df_d_Fabricante como um DataFrame vazio com as colunas necessárias.
df_d_Fabricante = pd.DataFrame(columns=['sk_Fabricante','NOME_FABRICANTE'])

# Em seguida, percorremos cada linha do DataFrame df_original_Fabricante para preencher o DataFrame df_d_Fabricante
for index, row in df_original_Fabricante.iterrows():
    # Aqui 'index' representa o índice da linha atual e 'row' contém os dados da linha atual.
    # Em cada iteração do loop, 'index' e 'row' representam os dados de uma linha específica do DataFrame.

    # Aqui estamos criando uma nova linha de dados para adicionar ao DataFrame de dimensão Fabricante (df_d_Fabricante).
    # Esta linha conterá a chave única (sk_Fabricante) e o nome do Fabricante (NOME_FABRICANTE).
    new_row = pd.DataFrame({
        
        # A chave única do Fabricante é atribuído automaticamente. Se já tivermos Fabricante registradas, o próximo ID será o maior ID atual + 1.
        # Caso contrário, se o DataFrame estiver vazio, atribuímos o ID 0.
        'sk_Fabricante': [df_d_Fabricante.index.max() + 1 if len(df_d_Fabricante) > 0 else 0],

        #Aqui copiamos o nome do Fabricante da linha atual do DataFrame original para a coluna "NOME_FABRICANTE" desta nova linha.
        'NOME_FABRICANTE': [row['Fabricante']]
    })

    # Agora que temos uma nova linha de dados pronta, precisamos adicioná-la ao DataFrame de dimensão Fabricante (df_d_Fabricante).

    # Usando a função pd.concat, concatenei o novo DataFrame (new_row) ao DataFrame df_d_Fabricante
    # O parâmetro ignore_index=True garante que os índices sejam redefinidos após a concatenação, garantindo uma sequência contínua de índices.
    df_d_Fabricante = pd.concat([df_d_Fabricante, new_row], ignore_index=True)

# Exibe o novo DataFrame df_d_Fabricante
# Este DataFrame agora contém chave única para cada Fabricante e seus respectivos nomes
print(df_d_Fabricante)

  sk_Fabricante NOME_FABRICANTE
0             0       VanArsdel

In [28]:
# DIMENSÃO NOME


# Supondo que df_original_Nome seja um DataFrame válido
# Remove as linhas duplicadas com base na coluna 'Nome' e armazena em df_original_Nome
df_original_Nome = df_original.drop_duplicates(subset='Nome')

# Crie um dicionário para mapear os nomes únicos de Nome para suas chaves únicas
nome_to_sk = {}

# Escolhi o método enumerate neste caso específico para melhorar o desempenho do código
# Atribui chaves únicas para os nomes únicos
for sk, nome in enumerate(df_original_Nome['Nome'].unique(), start=1):
    nome_to_sk[nome] = sk

# Cria o DataFrame de dimensão Nome
df_d_Nome = pd.DataFrame({
    'sk_Nome': [nome_to_sk[nome] for nome in df_original_Nome['Nome']],
    'NOME_NOME': df_original_Nome['Nome']
})

# Exibe o novo DataFrame df_d_Nome
# Este DataFrame agora contém chave única para cada Nome e seus respectivos nomes
print(df_d_Nome)

        sk_Nome          NOME_NOME
0             1        Barry Nerea
1             2     Stuart Elliott
2             3     Swanson Holmes
3             4        Solis Nyssa
4             5         Wall Ivana
...         ...                ...
675127   250817    Guthrie Nichole
675269   250818     Sloan Kirestin
675308   250819        Floyd Venus
675322   250820  Williams Patience
675343   250821  Velazquez Aladdin

[250821 rows x 2 columns]

In [29]:
# DIMENSÃO CIDADE


# Primeiro, criei um DataFrame chamado df_original_Cidade a partir do DataFrame original, selecionando apenas a coluna "Cidade".
# Em seguida, apliquei método .drop_duplicates() do Pandase o pârametro (subset=), para remover as linhas duplicadas com base na coluna "Cidade".
# Essa operação será atribuida ao DataFrame criado

# Supondo que df_original_Cidade seja um DataFrame válido
df_original_Cidade = df_original.drop_duplicates(subset='Cidade')

# Criei um novo DataFrame chamado df_d_Cidade para armazenar a dimensão Cidade.
# Este novo DataFrame terá duas colunas: "sk_Cidade" para a chave única da Cidade e "NOME_CIDADE" para o nome da Cidade.

# Inicializamos df_d_Cidade como um DataFrame vazio com as colunas necessárias.
df_d_Cidade = pd.DataFrame(columns=['sk_Cidade', 'NOME_CIDADE'])

# Em seguida, percorremos cada linha do DataFrame df_original_Cidade para preencher o DataFrame df_d_Cidade
for index, row in df_original_Cidade.iterrows():
    # Aqui 'index' representa o índice da linha atual e 'row' contém os dados da linha atual.
    # Em cada iteração do loop, 'index' e 'row' representam os dados de uma linha específica do DataFrame.

    # Aqui estamos criando uma nova linha de dados para adicionar ao DataFrame de dimensão Cidade (df_d_Cidade.
    # Esta linha conterá a chave única (sk_Cidade) e o nome da Cidade (NOME_CIDADE).
    new_row = pd.DataFrame({
        
        # A chave única da Cidade é atribuída automaticamente. Se já tivermos Cidade registradas, o próximo ID será o maior ID atual + 1.
        # Caso contrário, se o DataFrame estiver vazio, atribuímos o ID 0.
        'sk_Cidade': [df_d_Cidade.index.max() + 1 if len(df_d_Cidade) > 0 else 0],

        #Aqui copiamos o nome da Cidade da linha atual do DataFrame original para a coluna "NOME_CIDADE" desta nova linha.
        'NOME_CIDADE': [row['Cidade']]
    })

    # Agora que temos uma nova linha de dados pronta, precisamos adicioná-la ao DataFrame de dimensão Nome (df_d_Cidade).

    # Usando a função pd.concat, concatenei o novo DataFrame (new_row) ao DataFrame df_d_Cidade
    # O parâmetro ignore_index=True garante que os índices sejam redefinidos após a concatenação, garantindo uma sequência contínua de índices.
    df_d_Cidade = pd.concat([df_d_Cidade, new_row], ignore_index=True)

# Exibe o novo DataFrame df_d_Cidade
# Este DataFrame agora contém chave única para cada Cidade e seus respectivos nomes
print(df_d_Cidade)

      sk_Cidade       NOME_CIDADE
0             0             Miami
1             1   Fort Lauderdale
2             2  Port Saint Lucie
3             3        Fort Myers
4             4             Tampa
...         ...               ...
14512     14512         Sassafras
14513     14513           Mayking
14514     14514           Gunlock
14515     14515        Clairfield
14516     14516      Apalachicola

[14517 rows x 2 columns]

In [30]:
# DIMENSÃO ESTADO


# Primeiro, criei um DataFrame chamado df_original_Estado a partir do DataFrame original, selecionando apenas a coluna "Estado".
# Em seguida, apliquei método .drop_duplicates() do Pandase o pârametro (subset=), para remover as linhas duplicadas com base na coluna "Estado".
# Essa operação será atribuida ao DataFrame criado

# Supondo que df_original_Estado seja um DataFrame válido
df_original_Estado = df_original.drop_duplicates(subset='Estado')

# Criei um novo DataFrame chamado df_d_Estado para armazenar a dimensão Estado.
# Este novo DataFrame terá duas colunas: "sk_Estado" para a chave única do Estado e "NOME_ESTADO" para o nome da Estado.

# Inicializamos df_d_Estado como um DataFrame vazio com as colunas necessárias.
df_d_Estado = pd.DataFrame(columns=['sk_Estado', 'NOME_ESTADO'])

# Em seguida, percorremos cada linha do DataFrame df_original_Estado para preencher o DataFrame df_d_Estado
for index, row in df_original_Estado.iterrows():
    # Aqui 'index' representa o índice da linha atual e 'row' contém os dados da linha atual.
    # Em cada iteração do loop, 'index' e 'row' representam os dados de uma linha específica do DataFrame.

    # Aqui estamos criando uma nova linha de dados para adicionar ao DataFrame de dimensão Estado (df_d_Estado.
    # Esta linha conterá a chave única (sk_Estado) e o nome do Estado (NOME_ESTADO).
    new_row = pd.DataFrame({
        
        # A chave única do Estado é atribuída automaticamente. Se já tivermos Estado registrados, o próximo ID será o maior ID atual + 1.
        # Caso contrário, se o DataFrame estiver vazio, atribuímos o ID 0.
        'sk_Estado': [df_d_Estado.index.max() + 1 if len(df_d_Estado) > 0 else 0],

        #Aqui copiamos o nome do Estado da linha atual do DataFrame original para a coluna "NOME_ESTADO" desta nova linha.
        'NOME_ESTADO': [row['Estado']]
    })

    # Agora que temos uma nova linha de dados pronta, precisamos adicioná-la ao DataFrame de dimensão Nome (df_d_Estado).

    # Usando a função pd.concat, concatenei o novo DataFrame (new_row) ao DataFrame df_d_Estado
    # O parâmetro ignore_index=True garante que os índices sejam redefinidos após a concatenação, garantindo uma sequência contínua de índices.
    df_d_Estado = pd.concat([df_d_Estado, new_row], ignore_index=True)

# Exibe o novo DataFrame df_d_Estado
# Este DataFrame agora contém chave única para cada Estado e seus respectivos nomes
print(df_d_Estado)

   sk_Estado NOME_ESTADO
0          0          FL
1          1          OH
2          2          PA
3          3          NY
4          4          MI
5          5          NC
6          6          IN
7          7          GA
8          8          NJ
9          9          SC
10        10          KY
11        11          WV
12        12          AL
13        13          IL
14        14          VA
15        15          CT
16        16          MD
17        17          MA
18        18          VT
19        19          DE
20        20          DC
21        21          RI
22        22          NH
23        23          MS
24        24          TN
25        25          LA
26        26          AR
27        27          NM
28        28          MO
29        29          KS
30        30          OK
31        31          CO
32        32          WY
33        33          NE
34        34          UT
35        35          MT
36        36          IA
37        37          SD
38        38          ND
39        39          MN
40        40          WI
41        41          TX
42        42          CA
43        43          NV
44        44          OR
45        45          AK
46        46          WA
47        47          ID
48        48          AZ

In [31]:
# DIMENSÃO REGIÃO


# Primeiro, criei um DataFrame chamado df_original_Regiao a partir do DataFrame original, selecionando apenas a coluna "Regiao".
# Em seguida, apliquei método .drop_duplicates() do Pandase o pârametro (subset=), para remover as linhas duplicadas com base na coluna "Regiao".
# Essa operação será atribuida ao DataFrame criado

# Supondo que df_original_Regiao seja um DataFrame válido
df_original_Regiao = df_original.drop_duplicates(subset='Regiao')

# Criei um novo DataFrame chamado df_d_Regiao para armazenar a dimensão Regiao.
# Este novo DataFrame terá duas colunas: "sk_Regiao" para a chave única da Regiao e "NOME_REGIAO" para o nome da Regiao.

# Inicializamos df_d_Estado como um DataFrame vazio com as colunas necessárias.
df_d_Regiao = pd.DataFrame(columns=['sk_Regiao','NOME_REGIAO'])

# Em seguida, percorremos cada linha do DataFrame df_original_Regiao para preencher o DataFrame df_d_Regiao
for index, row in df_original_Regiao.iterrows():
    # Aqui 'index' representa o índice da linha atual e 'row' contém os dados da linha atual.
    # Em cada iteração do loop, 'index' e 'row' representam os dados de uma linha específica do DataFrame.

    # Aqui estamos criando uma nova linha de dados para adicionar ao DataFrame de dimensão Regiao (df_d_Regiao.
    # Esta linha conterá a chave única (sk_Regiao) e o nome do Regiao (NOME_REGIAO).
    new_row = pd.DataFrame({
        
        # A chave única do Regiao é atribuída automaticamente. Se já tivermos Regiao registradas, o próximo ID será o maior ID atual + 1.
        # Caso contrário, se o DataFrame estiver vazio, atribuímos o ID 0.
        'sk_Regiao': [df_d_Regiao.index.max() + 1 if len(df_d_Regiao) > 0 else 0],

        #Aqui copiamos o nome do Regiao da linha atual do DataFrame original para a coluna "NOME_REGIAO" desta nova linha.
        'NOME_REGIAO': [row['Regiao']]
    })

    # Agora que temos uma nova linha de dados pronta, precisamos adicioná-la ao DataFrame de dimensão Nome (df_d_Regiao).

    # Usando a função pd.concat, concatenei o novo DataFrame (new_row) ao DataFrame df_d_Regiao
    # O parâmetro ignore_index=True garante que os índices sejam redefinidos após a concatenação, garantindo uma sequência contínua de índices.
    df_d_Regiao = pd.concat([df_d_Regiao, new_row], ignore_index=True)

# Exibe o novo DataFrame df_d_Regiao
# Este DataFrame agora contém chave única para cada Regiao e seus respectivos nomes
print(df_d_Regiao)

  sk_Regiao NOME_REGIAO
0         0        East
1         1     Central
2         2        West

In [32]:
# DIMENSÃO PAÍS


# Primeiro, criei um DataFrame chamado df_original_Pais a partir do DataFrame original, selecionando apenas a coluna "Pais".
# Em seguida, apliquei método .drop_duplicates() do Pandase o pârametro (subset=), para remover as linhas duplicadas com base na coluna "Pais".
# Essa operação será atribuida ao DataFrame criado

# Supondo que df_original_Pais seja um DataFrame válido
df_original_Pais = df_original.drop_duplicates(subset='Pais')

# Criei um novo DataFrame chamado df_d_Pais para armazenar a dimensão Pais.
# Este novo DataFrame terá duas colunas: "sk_Pais" para a chave única de Pais e "NOME_PAIS" para o nome da Pais.

# Inicializamos df_d_Pais como um DataFrame vazio com as colunas necessárias.
df_d_Pais = pd.DataFrame(columns=['sk_Pais','NOME_PAIS'])

# Em seguida, percorremos cada linha do DataFrame df_original_Pais para preencher o DataFrame df_d_Pais
for index, row in df_original_Pais.iterrows(): 
    # Aqui 'index' representa o índice da linha atual e 'row' contém os dados da linha atual.
    # Em cada iteração do loop, 'index' e 'row' representam os dados de uma linha específica do DataFrame.

    # Aqui estamos criando uma nova linha de dados para adicionar ao DataFrame de dimensão Pais (df_d_Pais.
    # Esta linha conterá a chave única (sk_Pais) e o nome do Pais (NOME_PAIS).
    new_row = pd.DataFrame({
        
        # A chave única do Pais é atribuída automaticamente. Se já tivermos Pais registradas, o próximo ID será o maior ID atual + 1.
        # Caso contrário, se o DataFrame estiver vazio, atribuímos o ID 0.
        'sk_Pais': [df_d_Pais.index.max() + 1 if len(df_d_Pais) > 0 else 0],

        #Aqui copiamos o nome do Pais da linha atual do DataFrame original para a coluna "NOME_PAIS" desta nova linha.
        'NOME_PAIS': [row['Pais']]
    })

    # Agora que temos uma nova linha de dados pronta, precisamos adicioná-la ao DataFrame de dimensão Nome (df_d_Pais).

    # Usando a função pd.concat, concatenei o novo DataFrame (new_row) ao DataFrame df_d_Pais
    # O parâmetro ignore_index=True garante que os índices sejam redefinidos após a concatenação, garantindo uma sequência contínua de índices.
    df_d_Pais = pd.concat([df_d_Pais, new_row], ignore_index=True)

# Exibe o novo DataFrame df_d_Pais
# Este DataFrame agora contém chave única para cada Pais e seus respectivos nomes
print(df_d_Pais)

  sk_Pais NOME_PAIS
0       0       USA

In [33]:
# Aplicar SCD1 nas dimensões


# Definir a função aplicar_scd1
def aplicar_scd1(df_atual, df_novo, chave_primaria, atributo):
    # Atualizar os registros existentes no DataFrame atual com os novos valores do DataFrame novo

    df_atual.loc[df_atual[chave_primaria].isin(df_novo[chave_primaria]), atributo] = df_novo[atributo]
    # Retornar o DataFrame atualizado
    return df_atual

# Criar DataFrames com os valores atuais para as dimensões (Produto, Categoria, Segmento, Fabricante, Nome, Cidade, Estado, Região, País)
df_d_Produto_atual = pd.DataFrame({
    'sk_Produto': list(range(172)), 
    'NOME_PRODUTO': [f'Maximus UM-{i:02d}' for i in range(172)]})
df_d_Categoria_atual = pd.DataFrame({
    'sk_Categoria': list(range(4)), 
    'NOME_CATEGORIA': [f'Maximus UM-{i:02d}' for i in range(4)]
})
df_d_Segmento_atual = pd.DataFrame({
    'sk_Segmento': list(range(8)), 
    'NOME_SEGMENTO': [f'Maximus UM-{i:02d}' for i in range(8)]
})
df_d_Fabricante_atual = pd.DataFrame({
    'sk_Fabricante': list(range(0)), 
    'NOME_FABRICANTE': [f'Maximus UM-{i:02d}' for i in range(0)]
})    
df_d_Nome_atual = pd.DataFrame({
    'sk_Nome': list(range(250821)), 
    'NOME_NOME': [f'Maximus UM-{i:02d}' for i in range(250821)]
})
df_d_Cidade_atual = pd.DataFrame({
    'sk_Cidade': list(range(14517)), 
    'NOME_CIDADE': [f'Maximus UM-{i:02d}' for i in range(14517)]
})
df_d_Estado_atual = pd.DataFrame({
    'sk_Estado': list(range(48)), 
    'NOME_ESTADO': [f'Maximus UM-{i:02d}' for i in range(48)]
})
df_d_Regiao_atual = pd.DataFrame({
    'sk_Regiao': list(range(2)), 
    'NOME_REGIAO': [f'Maximus UM-{i:02d}' for i in range(2)]
})
df_d_Pais_atual = pd.DataFrame({
    'sk_Pais': list(range(0)), 
    'NOME_PAIS': [f'Maximus UM-{i:02d}' for i in range(0)]
})


# Criar DataFrames com os valores atuais para outras dimensões (Produto, Categoria, Segmento, Fabricante, Nome, Cidade, Estado, Região, País)
df_d_Produto_novo = pd.DataFrame({
    'sk_Produto': list(range(172)), 
    'NOME_PRODUTO': [f'Maximus UM-{i:02d}' for i in range(172)]
})
df_d_Categoria_novo = pd.DataFrame({
    'sk_Categoria': list(range(4)), 
    'NOME_CATEGORIA': [f'Maximus UM-{i:02d}' for i in range(4)]
})
df_d_Segmento_novo = pd.DataFrame({
    'sk_Segmento': list(range(8)), 
    'NOME_SEGMENTO': [f'Maximus UM-{i:02d}' for i in range(8)]
})
df_d_Fabricante_novo = pd.DataFrame({
    'sk_Fabricante': list(range(0)), 
    'NOME_FABRICANTE': [f'Maximus UM-{i:02d}' for i in range(0)]
})
df_d_Nome_novo = pd.DataFrame({
    'sk_Nome': list(range(250821)), 
    'NOME_NOME': [f'Maximus UM-{i:02d}' for i in range(250821)]
})
df_d_Cidade_novo = pd.DataFrame({
    'sk_Cidade': list(range(14517)), 
    'NOME_CIDADE': [f'Maximus UM-{i:02d}' for i in range(14517)]
})
df_d_Estado_novo = pd.DataFrame({
    'sk_Estado': list(range(48)), 
    'NOME_ESTADO': [f'Maximus UM-{i:02d}' for i in range(48)]
})
df_d_Regiao_novo = pd.DataFrame({
    'sk_Regiao': list(range(2)), 
    'NOME_REGIAO': [f'Maximus UM-{i:02d}' for i in range(2)]
})
df_d_Pais_novo = pd.DataFrame({
    'sk_Pais': list(range(0)), 
    'NOME_PAIS': [f'Maximus UM-{i:02d}' for i in range(0)]
})

# Remover os produtos que já existem no DataFrame atual
df_d_Produto_novo = df_d_Produto_novo[df_d_Produto_novo['sk_Produto'].isin(df_d_Produto_atual['sk_Produto'])]
df_d_Categoria_novo = df_d_Categoria_novo[df_d_Categoria_novo['sk_Categoria'].isin(df_d_Categoria_atual['sk_Categoria'])]
df_d_Segmento_novo = df_d_Segmento_novo[df_d_Segmento_novo['sk_Segmento'].isin(df_d_Segmento_atual['sk_Segmento'])]
df_d_Fabricante_novo = df_d_Fabricante_novo[df_d_Fabricante_novo['sk_Fabricante'].isin(df_d_Fabricante_atual['sk_Fabricante'])]
df_d_Nome_novo = df_d_Nome_novo[df_d_Nome_novo['sk_Nome'].isin(df_d_Nome_atual['sk_Nome'])]
df_d_Cidade_novo = df_d_Cidade_novo[df_d_Cidade_novo['sk_Cidade'].isin(df_d_Cidade_atual['sk_Cidade'])]
df_d_Estado_novo = df_d_Estado_novo[df_d_Estado_novo['sk_Estado'].isin(df_d_Estado_atual['sk_Estado'])]
df_d_Regiao_novo = df_d_Regiao_novo[df_d_Regiao_novo['sk_Regiao'].isin(df_d_Regiao_atual['sk_Regiao'])]
df_d_Pais_novo = df_d_Pais_novo[df_d_Pais_novo['sk_Pais'].isin(df_d_Pais_atual['sk_Pais'])]


# Aplicar SCD1 na dimensão de Atual
df_d_Produto_atual = aplicar_scd1(df_d_Produto_atual, df_d_Produto_novo, 'sk_Produto', 'NOME_PRODUTO'),
df_d_Categoria_atual = aplicar_scd1(df_d_Categoria_atual, df_d_Categoria_novo, 'sk_Categoria', 'NOME_CATEGORIA'),
df_d_Segmento_atual = aplicar_scd1(df_d_Segmento_atual, df_d_Segmento_novo, 'sk_Segmento', 'NOME_SEGMENTO'),
df_d_Fabricante_atual = aplicar_scd1(df_d_Fabricante_novo, df_d_Fabricante_novo, 'sk_Fabricante', 'NOME_FABRICANTE'),
df_d_Nome_atual = aplicar_scd1(df_d_Nome_novo, df_d_Nome_novo, 'sk_Nome', 'NOME_NOME'),
df_d_Cidade_atual = aplicar_scd1(df_d_Cidade_novo, df_d_Cidade_novo, 'sk_Cidade', 'NOME_CIDADE'),
df_d_Estado_atual = aplicar_scd1(df_d_Estado_novo, df_d_Estado_novo, 'sk_Estado', 'NOME_ESTADO'),
df_d_Regiao_atual = aplicar_scd1(df_d_Regiao_novo, df_d_Regiao_novo, 'sk_Regiao', 'NOME_REGIAO'),
df_d_Pais_atual = aplicar_scd1(df_d_Pais_novo, df_d_Pais_novo, 'sk_Pais', 'NOME_PAIS'),


print("\nDataFrame atualizado após aplicar SCD1:")
print(df_d_Produto_atual)
print(df_d_Categoria_atual)
print(df_d_Segmento_atual)
print(df_d_Fabricante_atual)
print(df_d_Nome_atual)
print(df_d_Cidade_atual)
print(df_d_Estado_atual)
print(df_d_Regiao_atual)
print(df_d_Pais_atual)

DataFrame atualizado após aplicar SCD1:
(     sk_Produto    NOME_PRODUTO
0             0   Maximus UM-00
1             1   Maximus UM-01
2             2   Maximus UM-02
3             3   Maximus UM-03
4             4   Maximus UM-04
..          ...             ...
167         167  Maximus UM-167
168         168  Maximus UM-168
169         169  Maximus UM-169
170         170  Maximus UM-170
171         171  Maximus UM-171

[172 rows x 2 columns],)
(   sk_Categoria NOME_CATEGORIA
0             0  Maximus UM-00
1             1  Maximus UM-01
2             2  Maximus UM-02
3             3  Maximus UM-03,)
(   sk_Segmento  NOME_SEGMENTO
0            0  Maximus UM-00
1            1  Maximus UM-01
2            2  Maximus UM-02
3            3  Maximus UM-03
4            4  Maximus UM-04
5            5  Maximus UM-05
6            6  Maximus UM-06
7            7  Maximus UM-07,)
(Empty DataFrame
Columns: [sk_Fabricante, NOME_FABRICANTE]
Index: [],)
(        sk_Nome          NOME_NOME
0             0      Maximus UM-00
1             1      Maximus UM-01
2             2      Maximus UM-02
3             3      Maximus UM-03
4             4      Maximus UM-04
...         ...                ...
250816   250816  Maximus UM-250816
250817   250817  Maximus UM-250817
250818   250818  Maximus UM-250818
250819   250819  Maximus UM-250819
250820   250820  Maximus UM-250820

[250821 rows x 2 columns],)
(       sk_Cidade       NOME_CIDADE
0              0     Maximus UM-00
1              1     Maximus UM-01
2              2     Maximus UM-02
3              3     Maximus UM-03
4              4     Maximus UM-04
...          ...               ...
14512      14512  Maximus UM-14512
14513      14513  Maximus UM-14513
14514      14514  Maximus UM-14514
14515      14515  Maximus UM-14515
14516      14516  Maximus UM-14516

[14517 rows x 2 columns],)
(    sk_Estado    NOME_ESTADO
0           0  Maximus UM-00
1           1  Maximus UM-01
2           2  Maximus UM-02
3           3  Maximus UM-03
4           4  Maximus UM-04
5           5  Maximus UM-05
6           6  Maximus UM-06
7           7  Maximus UM-07
8           8  Maximus UM-08
9           9  Maximus UM-09
10         10  Maximus UM-10
11         11  Maximus UM-11
12         12  Maximus UM-12
13         13  Maximus UM-13
14         14  Maximus UM-14
15         15  Maximus UM-15
16         16  Maximus UM-16
17         17  Maximus UM-17
18         18  Maximus UM-18
19         19  Maximus UM-19
20         20  Maximus UM-20
21         21  Maximus UM-21
22         22  Maximus UM-22
23         23  Maximus UM-23
24         24  Maximus UM-24
25         25  Maximus UM-25
26         26  Maximus UM-26
27         27  Maximus UM-27
28         28  Maximus UM-28
29         29  Maximus UM-29
30         30  Maximus UM-30
31         31  Maximus UM-31
32         32  Maximus UM-32
33         33  Maximus UM-33
34         34  Maximus UM-34
35         35  Maximus UM-35
36         36  Maximus UM-36
37         37  Maximus UM-37
38         38  Maximus UM-38
39         39  Maximus UM-39
40         40  Maximus UM-40
41         41  Maximus UM-41
42         42  Maximus UM-42
43         43  Maximus UM-43
44         44  Maximus UM-44
45         45  Maximus UM-45
46         46  Maximus UM-46
47         47  Maximus UM-47,)
(   sk_Regiao    NOME_REGIAO
0          0  Maximus UM-00
1          1  Maximus UM-01,)
(Empty DataFrame
Columns: [sk_Pais, NOME_PAIS]
Index: [],)

In [34]:
df_original

# Só para validar os dados

,IDProduto,Data,IDCliente,Unidades,Produto,Categoria,Segmento,IDFabricante,Fabricante,CustoUnitario,PrecoUnitario,EmailNome,Cidade,Estado,Regiao,Pais,Email,Nome
0,449,2012-07-26 00:00:00.000,247546,1,Maximus UM-54,Urban,Moderation,7,VanArsdel,74.729917,102.36975,"(Nerea.Barry@xyza.com): Barry, Nerea",Miami,FL,East,USA,(Nerea.Barry@xyza.com),Barry Nerea
1,449,2013-10-31 00:00:00.000,124593,1,Maximus UM-54,Urban,Moderation,7,VanArsdel,74.729917,102.36975,"(Elliott.Stuart@xyza.com): Stuart, Elliott",Miami,FL,East,USA,(Elliott.Stuart@xyza.com),Stuart Elliott
2,449,2013-11-14 00:00:00.000,163517,1,Maximus UM-54,Urban,Moderation,7,VanArsdel,74.729917,102.36975,"(Holmes.Swanson@xyza.com): Swanson, Holmes",Miami,FL,East,USA,(Holmes.Swanson@xyza.com),Swanson Holmes
3,449,2013-01-17 00:00:00.000,8875,1,Maximus UM-54,Urban,Moderation,7,VanArsdel,74.729917,102.36975,"(Nyssa.Solis@xyza.com): Solis, Nyssa",Miami,FL,East,USA,(Nyssa.Solis@xyza.com),Solis Nyssa
4,449,2014-09-13 00:00:00.000,8894,1,Maximus UM-54,Urban,Moderation,7,VanArsdel,74.729917,102.36975,"(Ivana.Wall@xyza.com): Wall, Ivana",Miami,FL,East,USA,(Ivana.Wall@xyza.com),Wall Ivana
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675363,407,2012-05-20 00:00:00.000,32464,1,Maximus UM-12,Accessory,Accessory,7,VanArsdel,116.887417,160.11975,"(Catherine.Martinez@xyza.com): Martinez, Cathe...",Panama City,FL,East,USA,(Catherine.Martinez@xyza.com),Martinez Catherine
675364,407,2011-03-02 00:00:00.000,32441,1,Maximus UM-12,Accessory,Accessory,7,VanArsdel,116.887417,160.11975,"(Dora.Emerson@xyza.com): Emerson, Dora",Panama City,FL,East,USA,(Dora.Emerson@xyza.com),Emerson Dora
675365,407,2012-06-02 00:00:00.000,101533,1,Maximus UM-12,Accessory,Accessory,7,VanArsdel,116.887417,160.11975,"(Lynn.Jones@xyza.com): Jones, Lynn",Pensacola,FL,East,USA,(Lynn.Jones@xyza.com),Jones Lynn
675366,407,2011-04-10 00:00:00.000,147192,1,Maximus UM-12,Accessory,Accessory,7,VanArsdel,116.887417,160.11975,"(Maite.Cantrell@xyza.com): Cantrell, Maite",Panama City Beach,FL,East,USA,(Maite.Cantrell@xyza.com),Cantrell Maite
675367,407,2012-03-01 00:00:00.000,237766,1,Maximus UM-12,Accessory,Accessory,7,VanArsdel,116.887417,160.11975,"(Yolanda.Byers@xyza.com): Byers, Yolanda",Fountain,FL,East,USA,(Yolanda.Byers@xyza.com),Byers Yolanda

In [35]:
# JUNÇÃO DOS DATA FRAMES

result = df_original.merge(df_d_Produto, left_on='Produto', right_on='NOME_PRODUTO', how='left')
result = result.merge(df_d_Categoria, left_on='Categoria', right_on='NOME_CATEGORIA', how='left')
result = result.merge(df_d_Segmento, left_on='Segmento', right_on='NOME_SEGMENTO', how='left')
result = result.merge(df_d_Fabricante, left_on='Fabricante', right_on='NOME_FABRICANTE', how='left')
result = result.merge(df_d_Nome, left_on='Nome', right_on='NOME_NOME', how='left')
result = result.merge(df_d_Cidade, left_on='Cidade', right_on='NOME_CIDADE', how='left')
result = result.merge(df_d_Estado, left_on='Estado', right_on='NOME_ESTADO', how='left')
result = result.merge(df_d_Regiao, left_on='Regiao', right_on='NOME_REGIAO', how='left')
result = result.merge(df_d_Pais, left_on='Pais', right_on='NOME_PAIS', how='left')

# SUBSTITUIÇAO DE VALORES NULOS

result['sk_Produto'] = result['sk_Produto'].fillna('N/A')
result['sk_Categoria'] = result['sk_Categoria'].fillna('N/A')
result['sk_Segmento'] = result['sk_Segmento'].fillna('N/A')
result['sk_Fabricante'] = result['sk_Fabricante'].fillna('N/A')
result['sk_Nome'] = result['sk_Nome'].fillna('N/A')
result['sk_Cidade'] = result['sk_Cidade'].fillna('N/A')
result['sk_Estado'] = result['sk_Estado'].fillna('N/A')
result['sk_Regiao'] = result['sk_Regiao'].fillna('N/A')
result['sk_Pais'] = result['sk_Pais'].fillna('N/A')
result.head()
df_fato_venda = result[['sk_Produto', 'sk_Categoria', 'sk_Segmento', 'sk_Fabricante', 'sk_Nome', 'sk_Cidade', 'sk_Estado', 'sk_Regiao', 'sk_Pais', 'Data', 'Unidades', 'CustoUnitario', 'PrecoUnitario']]

print(df_fato_venda)

        sk_Produto  sk_Categoria  sk_Segmento  sk_Fabricante  sk_Nome  \
0                0             0            0              0        1
1                0             0            0              0        2
2                0             0            0              0        3
3                0             0            0              0        4
4                0             0            0              0        5
...            ...           ...          ...            ...      ...
675363          23             4            8              0     3998
675364          23             4            8              0     3881
675365          23             4            8              0   239100
675366          23             4            8              0   178370
675367          23             4            8              0   141054

        sk_Cidade  sk_Estado  sk_Regiao  sk_Pais                     Data  \
0               0          0          0        0  2012-07-26 00:00:00.000
1               0          0          0        0  2013-10-31 00:00:00.000
2               0          0          0        0  2013-11-14 00:00:00.000
3               0          0          0        0  2013-01-17 00:00:00.000
4               0          0          0        0  2014-09-13 00:00:00.000
...           ...        ...        ...      ...                      ...
675363        289          0          0        0  2012-05-20 00:00:00.000
675364        289          0          0        0  2011-03-02 00:00:00.000
675365        287          0          0        0  2012-06-02 00:00:00.000
675366        294          0          0        0  2011-04-10 00:00:00.000
675367       2718          0          0        0  2012-03-01 00:00:00.000

        Unidades  CustoUnitario  PrecoUnitario
0              1      74.729917      102.36975
1              1      74.729917      102.36975
2              1      74.729917      102.36975
3              1      74.729917      102.36975
4              1      74.729917      102.36975
...          ...            ...            ...
675363         1     116.887417      160.11975
675364         1     116.887417      160.11975
675365         1     116.887417      160.11975
675366         1     116.887417      160.11975
675367         1     116.887417      160.11975

[675368 rows x 13 columns]

In [36]:
# Envio de arquivos Dimensão para pasta GOLD em csv

df_fato_venda.to_csv(r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\csv\fato_vendas.csv', index=False)
df_d_Produto.to_csv(r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\csv\d_Produto.csv', index=False)
df_d_Categoria.to_csv(r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\csv\d_Categoria', index=False)
df_d_Segmento.to_csv(r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\csv\d_Segmento', index=False)
df_d_Fabricante.to_csv(r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\csv\d_Fabricante', index=False)
df_d_Nome.to_csv(r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\csv\d_Nome', index=False)
df_d_Cidade.to_csv(r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\csv\d_Cidade', index=False)
df_d_Estado.to_csv(r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\csv\d_Estado', index=False)
df_d_Regiao.to_csv(r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\csv\d_Regiao', index=False)
df_d_Pais.to_csv(r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\csv\d_Pais', index=False)

In [37]:
# Envio de arquivos Parquet para camada GOLD em pasta Arquivos Parquet

df_fato_venda.to_parquet(r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\Arquivos Parquet\fato_vendas.parquet', index=False)
df_d_Produto.to_parquet(r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\Arquivos Parquet\d_Produto.parquet', index=False)
df_d_Categoria.to_parquet(r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\Arquivos Parquet\d_Categoria.parquet', index=False)
df_d_Segmento.to_parquet(r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\Arquivos Parquet\d_Segmento.parquet', index=False)
df_d_Fabricante.to_parquet(r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\Arquivos Parquet\d_Fabricante.parquet', index=False)
df_d_Nome.to_parquet(r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\Arquivos Parquet\d_Nome.parquet', index=False)
df_d_Cidade.to_parquet(r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\Arquivos Parquet\d_Cidade.parquet', index=False)
df_d_Estado.to_parquet(r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\Arquivos Parquet\d_Estado.parquet', index=False)
df_d_Regiao.to_parquet(r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\Arquivos Parquet\d_Regiao.parquet', index=False)
df_d_Pais.to_parquet(r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\Arquivos Parquet\d_Pais.parquet', index=False)

In [38]:
# Caminho dos arquivos para ler arquivos

arquivos = [

r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\Arquivos Parquet\fato_vendas.parquet', 
r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\Arquivos Parquet\d_Produto.parquet', 
r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\Arquivos Parquet\d_Categoria.parquet', 
r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\Arquivos Parquet\d_Segmento.parquet', 
r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\Arquivos Parquet\d_Fabricante.parquet', 
r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\Arquivos Parquet\d_Nome.parquet',
r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\Arquivos Parquet\d_Cidade.parquet', 
r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\Arquivos Parquet\d_Estado.parquet', 
r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\Arquivos Parquet\d_Regiao.parquet',
r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\Arquivos Parquet\d_Pais.parquet',

]

# Ler e exibir os primeiros registros de cada arquivo

for arquivo in arquivos:
    df = pd.read_parquet(arquivo)
    print(f"Dados de {arquivo}")
    print(df.head()) # Exibe os primeiros 5 registros por padrão 
    print("\n")

Dados de C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\Arquivos Parquet\fato_vendas.parquet
   sk_Produto  sk_Categoria  sk_Segmento  sk_Fabricante  sk_Nome  sk_Cidade  \
0           0             0            0              0        1          0
1           0             0            0              0        2          0
2           0             0            0              0        3          0
3           0             0            0              0        4          0
4           0             0            0              0        5          0

   sk_Estado  sk_Regiao  sk_Pais                     Data  Unidades  \
0          0          0        0  2012-07-26 00:00:00.000         1
1          0          0        0  2013-10-31 00:00:00.000         1
2          0          0        0  2013-11-14 00:00:00.000         1
3          0          0        0  2013-01-17 00:00:00.000         1
4          0          0        0  2014-09-13 00:00:00.000         1

   CustoUnitario  PrecoUnitario
0      74.729917      102.36975
1      74.729917      102.36975
2      74.729917      102.36975
3      74.729917      102.36975
4      74.729917      102.36975


Dados de C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\Arquivos Parquet\d_Produto.parquet
   sk_Produto   NOME_PRODUTO
0           0  Maximus UM-54
1           1  Maximus UM-75
2           2  Maximus UM-01
3           3  Maximus UM-62
4           4  Maximus UM-38


Dados de C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\Arquivos Parquet\d_Categoria.parquet
   sk_Categoria NOME_CATEGORIA
0             0          Urban
1             1            Mix
2             2          Youth
3             3          Rural
4             4      Accessory


Dados de C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\Arquivos Parquet\d_Segmento.parquet
   sk_Segmento NOME_SEGMENTO
0            0    Moderation
1            1   Convenience
2            2       Extreme
3            3       Regular
4            4    All Season


Dados de C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\Arquivos Parquet\d_Fabricante.parquet
   sk_Fabricante NOME_FABRICANTE
0              0       VanArsdel


Dados de C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\Arquivos Parquet\d_Nome.parquet
   sk_Nome       NOME_NOME
0        1     Barry Nerea
1        2  Stuart Elliott
2        3  Swanson Holmes
3        4     Solis Nyssa
4        5      Wall Ivana


Dados de C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\Arquivos Parquet\d_Cidade.parquet
   sk_Cidade       NOME_CIDADE
0          0             Miami
1          1   Fort Lauderdale
2          2  Port Saint Lucie
3          3        Fort Myers
4          4             Tampa


Dados de C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\Arquivos Parquet\d_Estado.parquet
   sk_Estado NOME_ESTADO
0          0          FL
1          1          OH
2          2          PA
3          3          NY
4          4          MI


Dados de C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\Arquivos Parquet\d_Regiao.parquet
   sk_Regiao NOME_REGIAO
0          0        East
1          1     Central
2          2        West


Dados de C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\Arquivos Parquet\d_Pais.parquet
   sk_Pais NOME_PAIS
0        0       USA

In [39]:
# Particionar os arquivos Parquet da tabela fato em ano e mês

# Carregar o arquivo em um DataFrame diretamente
df_fato_venda = pd.read_csv(r"C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\BRONZE\Vendas.csv")

# Convertendo a coluna 'Data' para o formato datetime
df_fato_venda['Data'] = pd.to_datetime(df_fato_venda['Data'])

# Criando colunas separadas para ano e mês
df_fato_venda['Ano'] = df_fato_venda['Data'].dt.year
df_fato_venda['Mes'] = df_fato_venda['Data'].dt.month

# Salvar a converçao da coluna 'Data' para ano e mês no mesmo arquivo CSV  
df_original.to_csv(r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\BRONZE\Vendas.csv', index=False) 

# Particionando os dados por ano e mês ao salvar em parquet
df_fato_venda.to_parquet(
    path=r'C:\Users\ferna\OneDrive\Área de Trabalho\DESAFIO_DWE19.ipynb\GOLD\fato_vendas_particionado',
    partition_cols=['Ano', 'Mes'],
    index=False
    )

# Verificar se as colunas 'Ano' e 'Mes' já existem no DataFrame
columns_already_created = all(col in df_fato_venda.columns for col in ['Ano', 'Mes'])

# Se não
if not columns_already_created:
    print("Executar código")
else:
    print("As colunas 'Ano' e 'Mes' foram criadas na tabela original.")
    print(df_fato_venda.head())  # Exibir as primeiras linhas do DataFrame df_fato_venda

As colunas 'Ano' e 'Mes' foram criadas na tabela original.
   IDProduto       Data  IDCliente  Unidades        Produto Categoria  \
0        449 2012-07-26     247546         1  Maximus UM-54     Urban
1        449 2013-10-31     124593         1  Maximus UM-54     Urban
2        449 2013-11-14     163517         1  Maximus UM-54     Urban
3        449 2013-01-17       8875         1  Maximus UM-54     Urban
4        449 2014-09-13       8894         1  Maximus UM-54     Urban

     Segmento  IDFabricante Fabricante  CustoUnitario  PrecoUnitario  \
0  Moderation             7  VanArsdel      74.729917      102.36975
1  Moderation             7  VanArsdel      74.729917      102.36975
2  Moderation             7  VanArsdel      74.729917      102.36975
3  Moderation             7  VanArsdel      74.729917      102.36975
4  Moderation             7  VanArsdel      74.729917      102.36975

                                    EmailNome Cidade Estado Regiao Pais  \
0        (Nerea.Barry@xyza.com): Barry, Nerea  Miami     FL   East  USA
1  (Elliott.Stuart@xyza.com): Stuart, Elliott  Miami     FL   East  USA
2  (Holmes.Swanson@xyza.com): Swanson, Holmes  Miami     FL   East  USA
3        (Nyssa.Solis@xyza.com): Solis, Nyssa  Miami     FL   East  USA
4          (Ivana.Wall@xyza.com): Wall, Ivana  Miami     FL   East  USA

                       Email            Nome   Ano  Mes
0     (Nerea.Barry@xyza.com)     Barry Nerea  2012    7
1  (Elliott.Stuart@xyza.com)  Stuart Elliott  2013   10
2  (Holmes.Swanson@xyza.com)  Swanson Holmes  2013   11
3     (Nyssa.Solis@xyza.com)     Solis Nyssa  2013    1
4      (Ivana.Wall@xyza.com)      Wall Ivana  2014    9